@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --index: calc(1vw + 1vh);

    /* background-color: rgb(245 245 201 / 99%); */
  }
}

/* START */
.imageTat__inner {
  /* background: url('/images/flower.jpg'); */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* padding: 0 10px; */
}

.imageTat__wrapper {
  background: url('/images/flower.jpg') no-repeat center/cover;
  padding: clamp(0.625rem, 0.284rem + 1.7vw, 1.563rem) 0;
  font-size: clamp(1.125rem, 0.807rem + 1.59vw, 2rem);
  font-weight: 600;
  color: blue;
  border-image: fill 0 linear-gradient(190deg, #fff9, #fff9);
}

.name {
  font-weight: 800;
  color: #05756a;
  text-align: center;
  font-size: clamp(2rem, 1.364rem + 3.18vw, 3.75rem);
  line-height: 1.2;
}

.name1 {
  font-weight: 800;
  text-align: center;
  font-size: clamp(1.625rem, 1.261rem + 1.82vw, 2.625rem);
  color: #b608b6;
}

.imageTat__title {
  font-size: clamp(2.875rem, 0.284rem + 12.95vw, 10rem);
  font-weight: 800;
  text-align: center;
  line-height: 1;
  color: red;
  margin-bottom: clamp(0.875rem, 0.602rem + 1.36vw, 1.625rem);
}

.imageTat__text {
}

.imageTat__wrapper-img {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.imageTat__wrapper-img img {
  max-width: 33.3333%;
  width: 100%;
}

.imageTat {
}

@media screen and (max-width: 992px) {
  .imageTat__wrapper-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .imageTat__wrapper-img img {
    max-width: 100%;
    width: 100%;
  }
}

/* FINISH */

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: rgb(245 245 201 / 99%);
}

.container {
  /* max-width: 1210px; */
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  background: no-repeat url('/images/background.jpeg');
  background-color: #508cbc;
  background-size: cover;
  background-position: 50% 68%;

  /* min-height: 70vh; */
  min-height: calc((1vw + 1vh) * 22);
  display: flex;
  align-items: center;
}

.header__container {
  /* max-width: 1210px; */
  padding: 0 0% 7% 0;
  margin-right: 6%;
}

.header__title {
  font-size: clamp(2.375rem, -0.501rem + 14.38vw, 10.375rem);
  text-shadow: 6px 9px 16px #ffc107;
  color: #fff;
  font-weight: 800;
  font-style: italic;
  text-align: right;
  line-height: 1;
}

@media screen and (max-width: 992px) {
  .header__title {
    /* font-size: clamp(2.875rem, 0.315rem + 12.8vw, 8.25rem); */
    line-height: 1;
  }
}

main {
  flex: 1;
}

.geolocation-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 20px;
}

.geolocation-wrapper h1 {
  font-size: clamp(2.625rem, 1.562rem + 2.22vw, 3.5rem);
  font-weight: 700;
  line-height: 1;
  color: #285e8a;
}

.geolocation-wrapper h1:hover {
  animation: color-rotate 1s linear infinite;
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

time {
  color: #89622f;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
}

.geolocation-wrapper a {
  background-color: #285e8a;
  box-shadow: 16px 12px 15px 3px #607d8b;
  padding: 12px 18px;
  border-radius: 2rem;
  color: #fff;
  margin-left: auto;
  transition: all 0.5s ease;
}

.geolocation-wrapper a:hover {
  background-color: #5496cc;
  /* animation: color-rotate 1s linear infinite; */
}

.geolocation-wrapper a:active {
  background-color: #1a3c58;
  transform: translate(0, 6px);
  /* animation: color-rotate 1s linear infinite; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.news-box {
  display: flex;
  flex-direction: column;
  gap: calc((1vw + 1vh) * 1.28);
  /* grid-template-columns: 1fr; */
}

.item-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 10px 20px 0px #c1c1c1;
}

.item-inner h2 {
  color: #222;
  font-weight: 700;
  font-size: clamp(1.25rem, 0.601rem + 1.35vw, 1.625rem);
}

.item-inner h2 p {
  font-size: 14px;
  font-weight: 400;
}

.item-inner img {
  /* background-color: #f9d100; */
  background-color: #009688;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.item-inner a {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc((1vw + 1vh) * 1.28);
}

@media screen and (max-width: 992px) {
  .geolocation-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .geolocation-wrapper a {
    grid-row: none;
    margin-left: inherit;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .item-inner a {
    grid-template-columns: 1fr;
  }

  .geolocation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 10px;
  }

  .geolocation-wrapper h1 {
    font-size: clamp(2.125rem, 1.767rem + 1.79vw, 2.625rem);
  }

  .geolocation-wrapper time {
    font-size: clamp(1rem, 0.821rem + 0.89vw, 1.25rem);
  }

  .geolocation-wrapper a {
    font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem);
  }
}

.footer {
  background-color: #2196f37d;
  padding: clamp(0.75rem, 0.432rem + 1.59vw, 1.625rem) 0;
  text-align: center;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  margin-top: calc(1.28vw + 1.28vh);
}

.footer a {
  color: #454500;
  text-shadow: #f6f609 -1px 0px 6px;
}

@media screen and (max-width: 992px) {
  .header h2 {
    font-size: clamp(2.875rem, 0.315rem + 12.8vw, 8.25rem);
  }
}
